<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.user_title}} {{site.username}}</span>
        <span id="dynamicJobTitle">Data Professional</span>
      </h1>
      <div class="header-icons">
        <a aria-label="E-Mail" href="mailto:vineeth299@hotmail.com"><i class="icon fas fa-envelope"></i></a>
        <a rel="me" aria-label="Github" target="_blank" href="https://github.com/vineeth-pydi"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a rel="me" aria-label="Medium" target="_blank" href="https://medium.com/@vineeth299"><i class="icon fab fa-medium" aria-hidden="true"></i></a>
        <a rel="me" aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/vineethpydi/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        ·
        <a class="link" href="#projects" data-scroll>Projects</a>
        ·
        <a class="link" href=".\assets\Vineeth_Pydi_Resume.pdf" data-scroll>Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
