<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Blog on Medium.com </h3>
    <p>Medium</i> is a great place to share wisdom.
      Here you'll find my articles on data analytics, data science and AI experiences</p>
      <p align="center"><a class="project-link" href="https://medium.com/@vineeth299">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mplcyberpunk" src="{{ "/assets/img/colormap.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left" style="margin: 0; top: 50%">
    <h3> GitHub Projects </h3>
    <p> I'm hosting a number of smaller projects on GitHub.
    Feel free to have a look around.
      </p>
      <p align="center"><a class="project-link" href="https://github.com/vineeth-pydi">Check it out</a></p>
  </div>
</div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="particle-physics" src="{{ "/assets/img/particle-physics.png" | prepend: site.baseurl }}"/>
    </div>
    <div class="contents-left">
      <h3> Particle Physics </h3>
      <p>I published a research paper in the Journal of Physics: Conference Series - IOPScience
        Supervised learning is used to create CNN architecture-based models that recognize hand gestures and convert them into text
        and speech with over 96% accuracy, facilitating seamless communication with speech-impaired users through image recognition.
        Paper published in the Journal of Physics: Conference Series - IOPScience (doi:10.1088/1742-6596/1964/6/062074)
       </p>
      <p align="center">
      <a class="project-link" href="https://ekp-invenio.physik.uni-karlsruhe.de/record/48801/files/EKP-2016-00013.pdf" >Thesis</a>
      <a class="project-link" href="https://iopscience.iop.org/article/10.1088/1742-6596/1964/6/062074">Research Paper</a>
      </p>
    </div>
  </div>

</div>
