/*
$main: linear-gradient(#4b134f, #B24244);
$sec: #782849;
$background: #FFF;
$cut: 550px; 
*/

$main: linear-gradient(#F8F8F8, #C0C0C0);
$sec: #007BFF; /* Or an accent color like #007BFF for a pop of blue */
$background: #FFF;
$cut: 550px;